{%extends "base.html" %}
{%load crispy_forms_tags %}
    {%block content%}
 
        <section class="vh-200 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
    <div class="container ">
      <div class="row d-flex justify-content-center align-items-center h-200">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
            <div class="px-3 ms-xl-2" style ="margin-top:-70px; margin-bottom:10px">
                    <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
                    <span class="h1 fw-bold mb-0">Signup </span>
                    </div>
              

              <form method ="POST">
              {%if messages%}
              {%for message in messages%}
                <div class="alert alert-{{message.tags}}" role="alert">
                   {{message}}
               </div>
               {% endfor %}
               {%endif%}
                    {% csrf_token %}
                <div class="form-outline ">
                <label class="form-label" for="form3Example1cg">Username</label><br>
               
                {{signup.username}}
                </div>                      
                <div class="form-outline ">
                <label class="form-label" for="form3Example1cg">Firstname</label><br>
             
                {{signup.first_name}}
                </div>
                <label class="form-label" for="form3Example1cg">Lastname</label><br>
                                          
                <div class="form-outline ">
                    {{signup.last_name}}                  
                </div>
              
                <div class="form-outline ">
                <label class="form-label" for="form3Example1cg">email</label><br>

                {{signup.email}}
                </div>
                <div class="form-outline ">
                <label class="form-label" for="form3Example1cg">Registration number</label><br>

                {{signup.reg_no}}
                </div>
                <div class="form-outline ">
                <label class="form-label" for="form3Example1cg">Password</label><br>

                    {{signup.password1}}
                </div>

                <div class="form-outline ">
                <label  for="form3Example1cg">Confirm password</label><br>

                     {{signup.password2}}
                </div>
                <div class="form-outline ">
                <label  for="form3Example1cg">Are you an admin or a student</label>
                   {{signup.role}}
              
                
                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="{% url 'signin'%}"
                    class="fw-bold text-body"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>

</section>
      
/
    {%endblock%}
</html>
